/*
# Front-end Style Guide

## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

## Colors

### Neutral

- Almost White: hsl(0, 0%, 98%)
- Medium Gray: hsl(0, 0%, 41%)
- Almost Black: hsl(0, 0%, 8%)

## Typography

### Body Copy

- Font size (paragraph): 18px

### Font

- Family: [Epilogue](https://fonts.google.com/specimen/Epilogue)
- Weights: 500, 700


*/

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* max-width: 1440px; */

  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  padding: 1rem;
}

header .features {
  display: flex;
  gap: 20px;
}

main {
  /* display: grid;
  grid-template-columns: 2fr 1fr;
  justify-content: center;
  align-items: center; */
  /* display: flex;
  justify-content: center;
  align-items: center; */

  border: 1px solid black;

  width: 100%;
  height: 100%;
}

.main-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

main .image-side,
main .text-side {
  justify-self: center;
  align-self: center;
  border: 2px dotted red;
}

main .text-side {
  height: 200px;
  width: 200px;
}

main .image-side .hero {
  height: 300px;
  width: 300px;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

img {
  width: 100px;
}

.client-logo img {
  width: 75px;
}
